.AuthLinksHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  gap: 71px;
}
.AuthLinksLink {
  width: fit-content;
  padding: 16px;
  font-weight: 350;
  font-size: 14px;
  color: #333;
  position: relative;
  transition: all 0.2s linear;
  background-color: transparent;
}

.AuthLinksLink.active::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: #4174cb;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  transition: all 1s linear;
}
.AuthLinksLink:hover {
  opacity: 0.5;
}
.AuthLinksLink.active {
  font-weight: 600;
}
