.AuthFormLayoutLink {
  width: fit-content;
  padding: 16px;
  font-size: 14px;
  color: #333;
  position: relative;
  transition: all 0.2s linear;
  background-color: transparent;
}

.AuthFormLayoutLink.active::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: #4174cb;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  transition: all 1s linear;
}
.AuthFormLayoutLink:hover {
  opacity: 0.5;
}
.AuthFormLayoutLink.active {
  font-weight: 600;
}
