.Input {
  width: 100%;
  outline: none;
  padding: 8px 16px 8px 4px;
  box-shadow: 0 2px 0 0 #e0e0e0;
}
.Input::placeholder,
.EmailInput:focus::placeholder {
  font-weight: 350;
  font-size: 14px;
  color: #bdbdbd;
}
.Input::-webkit-search-cancel-button,
.Input::-webkit-clear-button {
  display: none;
  -webkit-appearance: none;
  appearance: none;
}
