.headerTop {
  background-color: #f2f2f2;
  padding: 9px 0 12px 0;
}
.HeaderTopInner {
  display: flex;
  align-items: center;
  .region {
    margin-right: 247px;
  }
}
.region {
  font-weight: 400;
  font-size: 18px;
  color: #333;
}
.headerMiddle {
  margin-bottom: 10px;
}
.headerMiddleInner {
  display: flex;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 9px;
  justify-content: space-between;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.25);
  background: #fff;
}
.list {
  display: flex;
  align-items: center;
  gap: 48px;
  .link {
    font-weight: 400;
    font-size: 20px;
    color: #333;
    transition: all 0.2s linear;
  }
  .link:hover {
    color: #4174cb;
  }
}
.social {
  display: flex;
  align-items: center;
  gap: 24px;
}
.headerBottomInner {
  display: flex;
  align-items: center;
}
.buttonCatalog {
  margin-right: 20px;
}
.headerActions {
  display: flex;
  align-items: center;
  gap: 32px;
}
.headerForm {
  margin-right: 63px;
}

.headerLink {
  font-weight: 400;
  font-size: 14px;
  color: #333;
  cursor: pointer;
  transition: 0.2s linear;
  display: flex;
  flex-direction: column;
  align-items: center;

  svg {
    margin-bottom: 5px;
  }
}
.headerLink:hover {
  opacity: 0.5;
}
