.FormLogin {
  border-radius: 8px;
  padding: 36px 24px;
  width: 428px;
  box-shadow: -4px 4px 14px 0 rgba(0, 0, 0, 0.15);
  form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    button {
      justify-content: center;
    }
  }
}
.FormLoginHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  gap: 71px;
}
.FormLoginLink {
  width: fit-content;
  padding: 16px;
  /* text-align: center; */
  font-weight: 350;
  font-size: 14px;
  color: #333;
  position: relative;
  transition: all 0.2s linear;
}
.FormLoginLink.active::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: #4174cb;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
}
.FormLoginLink:hover {
  opacity: 0.5;
}
.FormLoginLink.active {
  font-weight: 400;
  font-size: 18px;
}
