.AuthFormLayout {
  border-radius: 8px;
  padding: 36px 24px;
  width: 428px;
  box-shadow: -4px 4px 14px 0 rgba(0, 0, 0, 0.15);
  form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    button {
      justify-content: center;
    }
  }
}
.AuthFormLayoutHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  gap: 71px;
}
